<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitHubActionsBootcamp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D472A3412FF902AF00E9361C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D472A34E2FF902B200E9361C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D472A3582FF902B200E9361C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
